<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manage Containers</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
  <script>
    function updateVersions() {
      const imageSelect = document.getElementById('image');
      const selectedimage = imageSelect.options[imageSelect.selectedIndex].value;
      const versions = JSON.parse('{{ image_version_data | tojson | safe }}')[selectedimage];
      
      let versionSelect = document.getElementById('version');
      versionSelect.innerHTML = "";
      
      for(let version of versions) {
        let option = document.createElement('option');
        option.text = version;
        option.value = version;
        versionSelect.add(option);
      }
    }
    
    let socket;
    function startContainer() {
      const image = document.getElementById('image').value;
      const version = document.getElementById('version').value;
      
      if (!socket) {
        socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
        socket.on('connect', function() {
          socket.emit('start_container', {image: image, version: version});
        });
        socket.on('disconnect', function() {
          console.log('WebSocket disconnected');
        });
      } else {
        socket.emit('start_container', {image: image, version: version});
      }
    }
    
    function stopContainer() {
      if (socket) {
        socket.emit('stop_container');
        socket.disconnect();
        socket = null;
      }
    }
  </script>
</head>
<body onload="updateVersions()">
  <h1>Manage Containers</h1>
  <form id="containerForm">
    <label for="image">Choose an image:</label>
    <select id="image" name="image" onchange="updateVersions()">
      {% for image in image_version_data.keys() %}
      <option value="{{ image }}">{{ image }}</option>
      {% endfor %}
    </select>
    
    <label for="version">Choose a Version:</label>
    <select id="version" name="version"></select>
    <button type="button" onclick="startContainer()">Start Container</button>
  </form>
  <button onclick="stopContainer()">Stop Container</button>
  <p>Open the browser console to see the connection status.</p>
</body>
</html>